## Loading spark 
- followed these instructions, https://blog.sicara.com/get-started-pyspark-jupyter-guide-tutorial-ae2fe84f594f
- place sym link in conda virtual environment

In [1]:
from pyspark import SparkContext
import findspark
findspark.init()
sc = SparkContext('local')

# Read the files

In [12]:
# data locations
raw_data = 'data/raw/'
do_not_call_location = raw_data + 'donotcall.txt'
transactions_location = raw_data + 'transactions.txt'
users_location = raw_data + 'users.txt'

In [13]:
# Load text files
do_not_call = sc.textFile(do_not_call_location)
transactions = sc.textFile(transactions_location)
users = sc.textFile(users_location)

In [34]:
# first line from each file
print('First line of each file\n')
for file, item in zip([do_not_call_location, transactions_location, users_location], [do_not_call, transactions, users]):
    print('{}: \t\t{}'.format(file.split('/')[-1], item.first()))

First line of each file

donotcall.txt: 		(533) 072-2779
transactions.txt: 		815581247;$144.82;2015-09-05
users.txt: 		1106214172;Prometheus Barwis;prometheus.barwis@me.com;(533) 072-2779

# Peak into data

In [44]:
print('Number of transactions: \t{}'.format(transactions.count()))
print('Data for first transaction: \t{}'.format(transactions.first()))
print('Arrary for first 3 transactions: \t{}'.format(transactions.take(3)))

Number of transactions: 	500000
Data for first transaction: 	815581247;$144.82;2015-09-05
Arrary for first 3 transactions: 	['815581247;$144.82;2015-09-05', '1534673027;$140.93;2014-03-11', '842468364;$104.26;2014-05-06']

# Sample of transactions

In [151]:
# takes a random sample of the data  with parameters (withReplace, fraction, seed)
transact1 = transactions.sample(True, 0.0001, 5)
print('Items in  transact1: \t{}'.format(transact1.count()))

Items in  transact1: 	41

In [152]:
# array (always call .count first to avoid collecting a huge RDD)
transact1.collect()

['1527587572;$871.41;2015-12-09',
 '1415095111;$954.8;2014-11-25',
 '1843055806;$233.86;2014-10-12',
 '488672777;$487.45;2015-02-03',
 '926714649;$275.25;2014-06-08',
 '1507682285;$581.36;2014-12-05',
 '504944579;$777.18;2014-01-15',
 '1098698435;$847.98;2015-03-12',
 '220464405;$900.37;2015-10-02',
 '179577834;$486.79;2015-08-25',
 '1997101895;$13.78;2015-12-30',
 '796358734;$162.9;2015-06-27',
 '222221602;$874.99;2014-04-27',
 '857807192;$820.21;2014-05-11',
 '1910340420;$36.50;2014-01-01',
 '104072004;$778.6;2014-03-14',
 '1479634843;$181.34;2015-05-26',
 '1074947899;$360.42;2014-12-15',
 '1164414229;$474.39;2014-06-29',
 '596443033;$355.21;2015-12-04',
 '1944400410;$530.7;2015-06-04',
 '415751671;$821.71;2014-12-06',
 '313294070;$273.23;2014-09-04',
 '630691783;$726.42;2014-10-03',
 '1467251727;$345.71;2015-01-13',
 '201010966;$605.74;2014-09-21',
 '1890267290;$402.99;2015-01-04',
 '1525688137;$649.36;2014-01-23',
 '860525462;$239.25;2014-10-21',
 '1462816761;$862.71;2014-12-17',
 '921475657;$348.21;2015-11-24',
 '240370213;$772.26;2014-06-06',
 '754102047;$581.75;2014-08-29',
 '597950595;$276.7;2014-07-21',
 '962917972;$87.1;2015-06-14',
 '1092094080;$369.78;2015-09-21',
 '1660964504;$850.9;2015-01-26',
 '232018647;$766.75;2014-03-19',
 '341402330;$292.25;2015-11-14',
 '1293665009;$852.47;2014-12-04',
 '2004725666;$283.89;2014-05-08']

# filter

In [153]:
transact1.filter(lambda s: '2014-02-17' in s).collect()

[]